### R template
# History files
/.Rhistory
/.Rapp.history

# Session Data files
/.RData
/.idea

# User-specific files
/.Ruserdata

# RStudio files
/.Rproj.user

# Temporary folder
/tmp/

# R Environment Variables
/.Renviron

/data/TLX
/data/TLX_public
/data/TLX_paper
/data/groseq
/data/okseq
/data/repliseq
/data/repliseq_zhao_bmc2020
/breaktools
/genomes
/reports
/tmp*